body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.app {
  padding-top: 5rem;
  min-height: 80vh;
}

form {
  width: 100%;
}

li:has(> a.active) {
  background-color: rgb(49, 151, 149);
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

select option {
  color: #000;
}

ul[role="listbox"] {
  color: #000;
}

.homeContainer {
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 500px) {
  .swiper .swiper-button-prev,
  .swiper .swiper-button-next {
    display: none;
  }

  nav * {
    align-self: center !important;
    width: fit-content;
    margin: auto;
  }
}

.StripeCheckout span {
  background-color: teal;
  background-image: unset !important;
  box-shadow: unset !important;
}

.StripeCheckout {
  background: teal !important;
  padding: 5px;
}
